@import "tailwindcss";
/* Estilo general de la barra */
::-webkit-scrollbar {
    width: 2px; /* Grosor */
  }
  
  /* Fondo de la barra (track) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Un gris oscuro */
    border-radius: 4px;
  }
  
  /* Thumb (parte que se mueve) */
  ::-webkit-scrollbar-thumb {
    background: #f0f0f0; /* Gris más oscuro */
    border-radius: 4px;
  }
  
  /* Cambio de color al pasar el mouse */
  ::-webkit-scrollbar-thumb:hover {
    background: #e4e4e4; /* Un poco más claro al hacer hover */
  }
  
  /* Soporte para Firefox */
  * {
    scrollbar-color: #ebe9e9 #fdfdfd;
    scrollbar-width: thin;
  }
  